<.flash_group flash={@flash} />

<div class="w-full flex flex-col items-center gap-16 justify-center h-[80vh]">
  <.logo />

  <div class="flex flex-col gap-4 items-center">
    <p>Create an account to join or create a Vozio room</p>
    <.link_button navigate={~p"/users/register"}>
      Create account
    </.link_button>
    <.link navigate={~p"/users/log_in"} class="text-xs">
      Already have an account? Log in
    </.link>
  </div>
</div>
