<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      {assigns[:page_title] || "Vozio"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-vozio-bacground-light dark:bg-vozio-background-dark">
    <div class="flex relative justify-centeer w-full max-w-screen-xl mx-auto px-8 py-6">
      <.link href={if @current_user, do: ~p"/lobby", else: "/"} class="hover:no-underline">
        <.logo size="sm" />
      </.link>
      <ul class="absolute flex items-center gap-4 justify-end">
        <%= if @current_user do %>
          <li class="leading-4">
            <.popover position="bottom-right">
              <:trigger>
                {@current_user.username}
              </:trigger>
              <:content>
                <div class="flex flex-col items-center gap-2 py-2 px-3">
                  <.link href={~p"/users/settings"}>
                    Settings
                  </.link>

                  <.link href={~p"/users/log_out"} method="delete">
                    Log out
                  </.link>
                </div>
              </:content>
            </.popover>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"}>
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"}>
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    {@inner_content}
  </body>
</html>
