<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Vozio"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-vozio-bacground-light dark:bg-vozio-background-dark">
    <div class="flex justify-between max-w-screen-xl mx-auto px-4 py-6">
      <.link href={if @current_user, do: ~p"/lobby", else: "/"} class="hover:no-underline">
        <.logo size="sm" />
      </.link>
      <ul class="flex items-center gap-4 justify-end">
        <%= if @current_user do %>
          <li class="leading-4">
            {@current_user.username}
          </li>
          <li>
            <.link href={~p"/users/settings"} class="leading-4 font-semibold">
              Settings
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_out"} method="delete" class="leading-4 font-semibold">
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"} class="leading-4 font-semibold">
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"} class="leading-4 font-semibold">
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    {@inner_content}
  </body>
</html>
