@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html {
    @apply text-vozio-text-light dark:text-vozio-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Grotesk', Arial, sans-serif;
}

p,
a,
span,
label,
input,
button {
    font-family: 'Work Sans', Helvetica, sans-serif;
}

a {
    @apply hover:underline hover:text-vozio-primary;
}

input:focus~label {
    @apply text-vozio-primary bg-vozio-primary;
}
